//PRIMARY

$black: #000000;
$flag-ship: #1c1e2d;
$steel-one: #282f45;
$module: #2d3855;
$steel-two: #3b4668;
$steel-three: #657197;
$silver: #bac4e2;
$white: #ffffff;

//Highlights

$blue: #18d2ff;
$royal-blue: #20a0ff;
$purble: #a961e4;
$blue-ice: #f0f7fe;
$off-white: #f8f9fc;
$red: #ea719d;

//Severity levels

$green-open: #2ec495;
$blue-info: #20a0ff;
$purple-warning: #a961e4;
$orange-error: #f89973;
$red-critical: #ea719d;
